name: Python CI - format using "black", lint using "flake8" then analyse using "Pylint"

on: [push]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.14"]
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6.1.0
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black
        pip install flake8
        pip install pylint pytest pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Format with Black
      run: |
        black .
        black --check .
    - name: Lint with Flake8
      run: |
        flake8 . --count --show-source --statistics --max-line-length=90
    - name: Analyse code with pylint
      run: |
        pylint $(git ls-files '*.py')
