name: Python CI - analyse with Pylint, lint with flake8, format with black

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.13.9"]
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pytest pytest-cov
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Analyse code with pylint
      run: |
        pylint $(git ls-files '*.py')
    - name: Lint with Flake8
      run: |
        pip install flake8
        flake8 . --count --show-source --statistics
    - name: Format with Black
      run: |
        pip install black
        black .
        black --check .
